/* Estilos gerais */
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#logo-localiza {
    vertical-align: middle;
    width: 70px;
    height: 70px;
}

body {
    background-color: #BAB8BB;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%
}

.container h2 {
    margin-top: 100px;
}

button {
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
}

#addPessoa {
    background-color: #64DE7C;
}

#addPessoa:hover {
    background-color: #4EC56B;
}


#editPessoa {
    background-color: #0074D9;
}

#deletePessoa {
    background-color: #FF4136;
}

.mensagem-remocao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* Estilos do header */
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #E5E5E5;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 1.5rem;
    color: #333;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}

nav a:hover {
    color: #077BD8;
}

/* Estilos da tabela */
table {
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #E5E5E5;
}

th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #d0d0d0;
}

tr:hover {
    background-color: #4EC56B;
}


/* Estilos responsivos */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    header h1 {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    nav ul {
        margin-top: 5px;
    }

    nav li {
        margin-right: 10px;
    }

    table {
        font-size: 1.0rem;
    }
}